[submodule "devicetree/linux-source"]
	path = devicetree/linux-source
	url = git@github.com:GM-Benji/linux-socfpga.git
[submodule "linux-source"]
	path = linux-source
	url = git@github.com:GM-Benji/linux-socfpga.git
